.header__font-dark { /* Стиль шрифта и его выравнивание внутри блока с контактами в заголовке */
 font-family: Verdana, Arial; font-size: 1.0em; color: #282828;
}

.header__font-light { /* Стиль шрифта и его выравнивание внутри блока с контактами в заголовке */
 font-family: Verdana, Arial; font-size: 0.8em; color: #a7a7a7;
}



.template {
 font-family: Verdana, Arial; /* Стиль шрифта*/
 font-size: 0.8em; /* Размер шрифта*/
 color: #a7a7a7; /*цвет шрифта в обычном состоянии*/
 line-height: 150%; /* межстрочный интервал */
 text-align: justify; /* выравнивание текста по ширине */
}