/*---------------------  BODY MAIN SETTINGS --------------------------*/
body, html {
 margin: 0px;
 padding: 0px;
 font-size: 14px;
 background: #ffffff;
 height: 100%;
}


/* RU: Обёртка для всего сайта, выравнивается информация по ширине*/
.wrapper {
 width: 90%; /* 90% of browser width or 972px maximum*/
 max-width: 972px; /* информация по ширине растягивается максимум на 972px */
 margin: 0 auto; /* 0 - отступ от верхнего края браузера */
 /*background: #ffffff;*/
}

/* RU: Если экран меньше 900пикс то вероятно это планшетное устройство и отображаем всю инфу без отступов слева и плава (как приложение) */
@media screen and (max-width: 900px) {
 .wrapper {
  width: 96%; /* Все объекты на экране телефона размещаются в 96% процентах экрана, отступы по бокам минимальны */
  max-width: 900px; /* информация по ширине растягивается максимум на 900px */
  margin: 0 auto; /* 0 - отступ от верхнего края браузера */
 }
}



/*---------------------  HEADER LONG (GREY) --------------------------*/
#header {
 width: 100%; /* серый заголовок занимает всю ширину браузера */
 /*height: 100px;*/ /* Статичная высота заголовка */
 min-height: 13%; /* Заголовок 15% от экрана устройства */
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #f7f7f7; /* Цвет заголовка почти белый */
 border-bottom: 1px solid #e6e6e6;
}

	.header__menu-long {
	 width: 100%; /* меню с кнопками растягивается на всю ширину заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	 margin-top: 20px;
	}

		.header__menu-long_room {
		 width: 40%;
	  	 float: left;
		}

		.header__menu-long_help {
		 width: 20%;
	  	 float: left;
		}

		.header__menu-long_close {
		 width: 20%;
	  	 float: left;
		}

		.header__menu-long_logout {
		 width: 20%;
	  	 float: right;
		 /*text-align: right;*/
		}

/* Если высота экрана телефона более 640 и более пикселей, то прим правило */
@media screen and (min-height: 639px) {
 #header {
 	min-height: 10%;
 }
}



/*--------------------- CHAT WINDOW (WHITE) --------------------------*/
#chatblock {
 width: 100%; /* белое окно чата на всю ширину экрана */
 min-height: 72%; /* белое окно чата растягивается на бОльшую часть экрана, остальные 13+13 процентов на хед и фут */
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #ffffff; /* Цвет заголовка белый */

 position: relative; /* чтобы дочерний div внутри этого мог подстриваться под высоту этого div-a */
}
	
	/* СМС-ка в чате состоит из 2х частей: аватарка + текст справа */
	.chatblock__sms {
	 width: 80%;
	 margin-top: 20px;
	 margin-left: 0px;
	 margin-bottom: 0px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	 /*background: #9a9a9a;*/
	}

		.chatblock__sms-avatar { /* аватарка в чате */
	 	 width: 7%; /* 240/972px Динамическая ширина блока для баннера, равная половине заголовка */
	 	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 	 overflow: hidden; /* Блок div растягивается по содержимому */
		}

		.chatblock__sms-text { /* текст смски в чате справа от аватарки */
		 float: right; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 	 width: 90%; /* 720/972px Динамическая ширина блока для баннера, равная половине заголовка */
	 	
	 	 margin-left: 2%; /* отступ текста от аватарки */
	 	 overflow: hidden; /* Блок div растягивается по содержимому */
	 	
	 	 font-family: Verdana, Arial; /* Стиль шрифта*/
 		 font-size: 0.9em; /* Размер шрифта*/
 		 color: #282828; /*цвет шрифта в обычном состоянии*/

 		 text-align: justify;
		}

/* Если высота экрана телефона 640 и более пикселей, то прим правило */
@media screen and (min-height: 639px) {
 #chatblock {
 	min-height: 80%;
 }
}

/* Если ширина экрана менее 900 пикселей то СМС-ка в чате растягивается на всю ширину экрана */
@media screen and (max-width: 900px) {
 .chatblock__sms {
  width: 100%;
 }
}

/* Если ширина экрана менее 500 пикселей (маленький экран) то Аватарка в чате немного увеличивается */
@media screen and (max-width: 500px) {
 .chatblock__sms-avatar {
  width: 12%;
 }
 .chatblock__sms-text {
  width: 86%;
  margin-left: 2%;
 }
}


/*---------------------  BLOCK where Ajax send data --------------------------*/
#content_chat {
 width: 90%; /* 90% of browser width or 972px maximum*/
 max-width: 972px; /* информация по ширине растягивается максимум на 972px */
 margin: 0 auto; /* 0 - отступ от верхнего края браузера */

 /*overflow: scroll; /* Добавляем полосы прокрутки */
 /*overflow-x: scroll; /* прокрутка по горизонтали */
 position: absolute; /* div - растягивается на высоту родетеля */
 height: 100%; /* 100% - от высоты родителя */
 overflow-y: auto; /* прокрутка по вертикали */

 margin-top: 0px;
 margin-left: 0px;
 margin-right: auto;
}

@media screen and (max-width: 900px) {
 #content_chat {
  width: 96%; /* Все объекты на экране телефона размещаются в 96% процентах экрана, отступы по бокам минимальны */
  max-width: 900px; /* информация по ширине растягивается максимум на 900px */
  margin: 0 auto; /* 0 - отступ от верхнего края браузера */
 }
}


/*---------------------  SEND SMS BLOCK (GREY) --------------------------*/
#sendersms {
 width: 100%; /* нижняя часть чата с полем отправки СМС */
 /*height: 100px;*/ /* Статичная высота заголовка */
 min-height: 13%; /* поле для набора смс, будет занимать минимум 13% экрана устройства снизу */
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #f7f7f7;
 border-top: 1px solid #e6e6e6;
}

	.sendersms__field-text-and-button {
 	 width: 100%; /* Динамическая ширина блока для контактов в заговолке справа, равная половине заголовка */
	 float: left; /* Блок для контактов обтекает другие объекты своим правым краем (прижимается правым краем)*/
	 margin-top: 10px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	 /*background: #995500;*/
	}

		.sendersms__field-text { /* аватарка в чате */
	 	 width: 80%; /* 240/972px Динамическая ширина блока для баннера, равная половине заголовка */
	 	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 	 overflow: hidden; /* Блок div растягивается по содержимому */
	 	 /*background: #f00;*/
		}

		.sendersms__field-button { /* текст смски в чате справа от аватарки */
		 float: right; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 	 width: 18%; /* 720/972px Динамическая ширина блока для баннера, равная половине заголовка */
	 	 margin-left: 2%; /* отступ текста от аватарки */
	 	 overflow: hidden; /* Блок div растягивается по содержимому */
	 	 /*background: #0f0;*/
		}

/* Если высота экрана телефона 640 и более пикселей, то прим правило */
@media screen and (min-height: 639px) {
 #sendersms {
 	min-height: 10%;
 }
}
