/*---------------------  ADAPTIVE TEG For Image --------------------------*/
img { 
 max-width: 100%; /* Картинка растягивается на всю ширину div-а в котором она находится */
 height: auto;  /* Высота картинки подгоняется по её оригинальным пропорциям */
}


/*---------------------  INPUT STYLE --------------------------*/
.input_bar_sms {
 height: 24px; /* высота на свое усмотрение*/
 width: 98%; /* ширина на свое усмотрение*/
 border: 1px solid #cccccc; /*цвет рамки*/
   
 background: #ffffff; /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
 outline: none;/* удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
 padding: 2px;
 /*margin-top: 10px;*/
  
 font-family: Verdana; /* Стиль шрифта*/
 font-size: 1em; /* Размер шрифта*/
 color: #626262; /*цвет шрифта в обычном состоянии*/
   
 border-radius: 5px; /*закругление углов (общее)*/
 -webkit-border-radius: 5px; /*закругление углов (Google Chrome)*/
 -moz-border-radius: 5px; /*закругление углов (FireFox)*/
 -khtml-border-radius: 5px; /*закругление углов (Safari)*/
}

/*--------------------- ОБТЕКАНИЕ КАРТИНКИ ТЕКСТОМ --------------------------*/
.myservice__leftimg {
  float:left; /* Выравнивание по левому краю */
  margin: 5px 10px 7px 0; /* Поочередно устанавливается отступ от верхнего, правого, нижнего и левого края */
}
.myservice__rightimg  {
 float: right; /* Выравнивание по правому краю  */ 
 margin: 7px 0 7px 7px; /* Поочередно устанавливается отступ от верхнего, правого, нижнего и левого края */
}