.header__logo-black { /* Стиль шрифта и его выравнивание внутри блока с контактами в заголовке */
 font-family: Verdana, Arial; /* Стиль шрифта*/
 font-size: 1.2em; /* Размер шрифта*/
 color: #282828; /*цвет шрифта в обычном состоянии*/
}

.header__logo-blue { /* Стиль шрифта и его выравнивание внутри блока с контактами в заголовке */
 font-family: Verdana, Arial; /* Стиль шрифта*/
 font-size: 1.2em; /* Размер шрифта*/
 color: #0000ff; /*цвет шрифта в обычном состоянии*/
}

	@media only screen and (max-width: 320px) { /* Внешний вид ссылок в подвале в Мобильной-Версии */
 		.header__logo-black {
 			font: 1.4em Veranda, Arial;
 		}
	}



.footer__info {
 font-family: Verdana, Arial; /* Стиль шрифта*/
 font-size: 0.8em; /* Размер шрифта*/
 color: #a7a7a7; /*цвет шрифта в обычном состоянии*/

 line-height: 150%; /* межстрочный интервал */
 text-align: justify; /* выравнивание текста по ширине */
}