/*---------------------  BODY MAIN SETTINGS --------------------------*/
body, html {
 margin: 0px;
 padding: 0px;
 font-size: 14px;
 background: #ffffff;
 /*background-image: url('images/bg-256.png');*/
}


/* Обёртка для всего сайта, выравнивается информация по ширине*/
.wrapper {
 width: 90%; /* 90% of browser width or 972px maximum*/
 max-width: 972px; /* информация по ширине растягивается максимум на 972px */
 margin: 0 auto; /* 0 - отступ от верхнего края браузера */
 /*background: #ffffff;*/
}

@media screen and (max-width: 900px) {
 .wrapper {
  width: 95%; /* 90% of browser width or 972px maximum*/
  max-width: 900px; /* информация по ширине растягивается максимум на 900px */
  margin: 0 auto; /* 0 - отступ от верхнего края браузера */
 }
}


/*---------------------  HEADER WHITE LONG --------------------------*/
#header {
 width: 100%; /* заголовок занимает всю ширину браузера */
 /*height: 100px;*/ /* Статичная высота заголовка */
 min-height: 60px; /* Заголовок: либо мининум 50 пикселей - либо больше 50 с инфой*/
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #ffffff; /* Цвет заголовка почти белый */
 border-bottom: 1px solid #e6e6e6;
}

	.header__left-part {
	 width: 100%; /* Динамическая ширина блока для баннера, равная половине заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

		.header__left-banner_align {
	  	 float: left;
		 margin-top: 10px; /* Баннерная-картинка отступает от верха блока в котором она находится на 5px */
	 	 margin-left: 1.2345679%; /* 12px/972px = 1.2345679 Адаптивный отступ слева по сетке */
		}


/*---------------------  MENU BLOCK (Grey) --------------------------*/
#menublock {
 width: 100%; /* Черный заголовок занимает всю ширину браузера */
 min-height: 510px; /* Заголовок: либо мининум 510 пикселей - либо больше 510 с инфой*/
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #f7f7f7; /* Цвет заголовка почти белый */
}

	.menublock__upper-part {
	 width: 100%;
	 margin: 20px auto 0px; /* 20 - отступ от верхнего края браузера 0 - от объекта снизу*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

	.menublock__lower-part {
	 width: 100%; /* Динамическая ширина блока для баннера, равная половине заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 margin-top: 5px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

		.menublock__lower-part_input {
	 	width: 24.69135%; /* 240/972px Динамическая ширина блока для баннера, равная половине заголовка */
	 	float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 	margin-top: 10px;
	 	overflow: hidden; /* Блок div растягивается по содержимому */
		}

		.menublock__lower-part_text {
	 	width: 74.07408%; /* 720/972px Динамическая ширина блока для баннера, равная половине заголовка */
	 	float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 	margin-top: 12px;
	 	margin-left: 1.234567%;
	 	overflow: hidden; /* Блок div растягивается по содержимому */
	 	
	 	font-family: Verdana, Arial; /* Стиль шрифта*/
 		font-size: 1.2em; /* Размер шрифта*/
 		color: #282828; /*цвет шрифта в обычном состоянии*/
		}

		.menublock__lower-part_avatarframe {
	 	width: 100px; /* Аватарка помещена в квадрат 100х100 */
	 	float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 	margin-top: 10px;
	 	margin-left: 5px;
	 	overflow: hidden; /* Блок div растягивается по содержимому */
		}

			.menublock__spacer { /* проставка между блоками сайта, чтобы м/д ними было расстояние */
			 width: 100%;
			 height: 30px;
			 overflow: hidden; /* div не проваливается за другие дивы, занимает свою позицию в html-коде */
			}

@media screen and (max-width: 720px) {
 .menublock__lower-part_input {
  width: 50%;
 }
 .menublock__lower-part_text {
  width: 100%;
 }
}	
@media screen and (max-width: 420px) {
 .menublock__lower-part_input {
  width: 100%;
 }
}



/*---------------------  FOOTER --------------------------*/
#footer {
 width: 100%; /* Подвал тёмного цвета растянут на всю ширину браузера */
 /*height: 100px;*/ /* Статичная высота заголовка */
 min-height: 100px; /* Заголовок: либо мининум 100 пикселей - либо больше 100 с инфой*/
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #272b2e; /* Цвет заголовка почти белый */
 border-top: 3px solid #17dfd2;
}

	.footer__part2-shortinfo {
 	 width: 80%; /* Динамическая ширина блока для контактов в заговолке справа, равная половине заголовка */
	 float: left; /* Блок для контактов обтекает другие объекты своим правым краем (прижимается правым краем)*/
	 margin-top: 10px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}


@media screen and (max-width: 380px) {
 .footer__part2-shortinfo {
  width: 100%;
 }
}



/*---------------------  WINDOW MESSAGE OK --------------------------*/
.message_successful {
 width: 44.69135%; /* 240/972px Динамическая ширина блока для баннера, равная половине заголовка */
 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
 margin-top: 10px;
 overflow: hidden; /* Блок div растягивается по содержимому */

 font-family: Verdana, Arial; /* Стиль шрифта*/
 font-size: 1.2em; /* Размер шрифта*/
 color: #282828; /*цвет шрифта в обычном состоянии*/

 padding: 10px;
 border: 1px solid #088A08;
 background: #81F79F;

 border-radius: 5px; /*закругление углов (общее)*/
 -webkit-border-radius: 5px; /*закругление углов (Google Chrome)*/
 -moz-border-radius: 5px; /*закругление углов (FireFox)*/
 -khtml-border-radius: 5px; /*закругление углов (Safari)*/
}

@media screen and (max-width: 800px) {
 .message_successful {
  width: 95%;
}