/*---------------------  input text field for - New user registration --------------------------*/
.input_bar_register {
 height: 24px; /* высота на свое усмотрение*/
 width: 97%; /* ширина на свое усмотрение*/
 border: 1px solid #cccccc; /*цвет рамки*/
   
 background: #ffffff; /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
 outline: none;/* удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
 padding: 2px;
 /*margin-top: 10px;*/
  
 font-family: Verdana; /* Стиль шрифта*/
 font-size: 1em; /* Размер шрифта*/
 color: #626262; /*цвет шрифта в обычном состоянии*/
   
 border-radius: 5px; /*закругление углов (общее)*/
 -webkit-border-radius: 5px; /*закругление углов (Google Chrome)*/
 -moz-border-radius: 5px; /*закругление углов (FireFox)*/
 -khtml-border-radius: 5px; /*закругление углов (Safari)*/
}



/*---------------------  WINDOW MESSAGE OK --------------------------*/
.message_successful {
 width: 44.69135%; /* 240/972px Динамическая ширина блока для баннера, равная половине заголовка */
 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
 margin-top: 10px;
 overflow: hidden; /* Блок div растягивается по содержимому */

 font-family: Verdana, Arial; /* Стиль шрифта*/
 font-size: 1.2em; /* Размер шрифта*/
 color: #282828; /*цвет шрифта в обычном состоянии*/

 padding: 10px;
 border: 1px solid #088A08;
 background: #81F79F;

 border-radius: 5px; /*закругление углов (общее)*/
 -webkit-border-radius: 5px; /*закругление углов (Google Chrome)*/
 -moz-border-radius: 5px; /*закругление углов (FireFox)*/
 -khtml-border-radius: 5px; /*закругление углов (Safari)*/
}

@media screen and (max-width: 800px) {
 .message_successful {
  width: 95%;
}



/*---------------------  WINDOW MESSAGE ERROR --------------------------*/
.mmistake {
 width: 44.69135%; /* 240/972px Динамическая ширина блока для баннера, равная половине заголовка */
 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
 margin-top: 10px;
 overflow: hidden; /* Блок div растягивается по содержимому */

 font-family: Verdana, Arial; /* Стиль шрифта*/
 font-size: 1.2em; /* Размер шрифта*/
 color: #282828; /*цвет шрифта в обычном состоянии*/

 padding: 10px;
 border: 1px solid #FF0000;
 background: #F5A9A9;
}

@media screen and (max-width: 800px) {
 .mmistake {
  width: 95%;
}
