/*---------------------  BODY MAIN SETTINGS --------------------------*/
body, html {
 margin: 0px;
 padding: 0px;
 font-size: 14px;
 background: #ffffff;
 /*background-image: url('images/bg-256.png');*/
}


/* Обёртка для всего сайта, выравнивается информация по ширине*/
/* Хотя чередующиеся сверху вниз Серые и Белые блоки сайта растянуты на всю ширину браузера */
/* - информация в них выравнивается на ширину данной Обёртки - Wrapper */
.wrapper {
 width: 90%; /* 90% of browser width or 972px maximum*/
 max-width: 972px; /* информация по ширине растягивается максимум на 972px */
 margin: 0 auto; /* 0 - отступ от верхнего края браузера */
 /*background: #ffffff;*/
}

@media screen and (max-width: 900px) {
 .wrapper {
  width: 95%; /* 90% of browser width or 972px maximum*/
  max-width: 900px; /* информация по ширине растягивается максимум на 900px */
  margin: 0 auto; /* 0 - отступ от верхнего края браузера */
 }
}


/*---------------------  HEADER WHITE LONG --------------------------*/
#header {
 width: 100%; /* заголовок занимает всю ширину браузера */
 /*height: 100px;*/ /* Статичная высота заголовка */
 min-height: 50px; /* Заголовок: либо мининум 50 пикселей - либо больше 50 с инфой*/
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #ffffff; /* Цвет заголовка почти белый */
 border-bottom: 1px solid #e6e6e6;
}

	.header__left-part {
	 width: 50%; /* Динамическая ширина блока для баннера, равная половине заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

		.header__left-banner_align {
	  	 float: left;
		 margin-top: 10px; /* Баннерная-картинка отступает от верха блока в котором она находится на 5px */
	 	 /* margin-left: 1.2345679%; */ /* 12px/972px = 1.2345679 Адаптивный отступ слева по сетке */
		}


	.header__right-part {
 	 width: 50%; /* Динамическая ширина блока для контактов в заговолке справа, равная половине заголовка */
	 float: right; /* Блок для контактов обтекает другие объекты своим правым краем (прижимается правым краем)*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

		.header__right-language_align { /* Стиль шрифта и его выравнивание внутри блока с контактами в заголовке */
		 width: 100%;
		 float: right;
		 margin-top: 20px;
		 margin-right: 1.2345679%; /* 72px/972px = 7.407407407 Адаптивный отступ от правого края по сетке*/
		}


@media screen and (max-width: 320px) {
 .header__left-part {
  width: 100%;
 }
 .header__right-part {
  width: 100%;
  float: left;
 }
 .header__right-language_align {
  width: 100%;
  float: left;	
 }
 .header__language-rightimg {
  display: none;
 }
}



/*---------------------  MENU BLOCK (Grey) --------------------------*/
#menublock {
 width: 100%; /* Серая область сайта где расположено Меню */
 min-height: 160px; /* Минимальная высота этого блока сайта */
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #f7f7f7; /* Цвет заголовка почти белый */
}

	.menublock__upper-part {
	 width: 36%;
	 margin: 20px auto 0px; /* 20 - отступ от верхнего края браузера, 0 - об объекта снизу, слева права - автоматически*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

	.menublock__lower-part {
	 width: 100%; /* Динамическая ширина блока для баннера, равная половине заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 margin-top: 10px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

@media screen and (max-width: 900px) {
 .menublock__upper-part {
  width: 100%;
 }
}
@media screen and (max-width: 420px) {
 .menublock__upper-part {
  width: 50%;
  margin-left: 1.2345679%;
 }
}	



/*---------------------  BANNER BIG GREEN SLOGAN (Green) --------------------------*/
#bigbannerslogan {
 width: 100%; /* Зелёный блок сайта растянут на всю ширину браузера */
 /*height: 100px;*/ /* Статичная высота заголовка */
 min-height: 100px; /* Заголовок: либо мининум 100 пикселей - либо больше 100 с инфой*/
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 padding-top: 30px;
 padding-bottom: 30px;
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #b2dfdc;
}

	.bigbannerslogan__left-part {
	 width: 50%; /* Динамическая ширина блока для баннера, равная половине заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

	.bigbannerslogan__right-part {
 	 width: 50%; /* Динамическая ширина блока для контактов в заговолке справа, равная половине заголовка */
	 float: right; /* Блок для контактов обтекает другие объекты своим правым краем (прижимается правым краем)*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

		.bigbannerslogan__right-slogan_align { /* Стиль шрифта и его выравнивание внутри блока с контактами в заголовке */
 	 	 float: left;
		 margin-top: 24px;

	 	 font-family: Verdana, Arial; /* Стиль шрифта*/
 	 	 font-size: 2em; /* Размер шрифта*/
 	 	 color: #ffffff; /*цвет шрифта в обычном состоянии*/
 	 	 line-height: 150%; /* межстрочный интервал */
 	 	 text-align: left; /* выравнивание текста по ширине */
		}


@media screen and (max-width: 900px) {
 .bigbannerslogan__left-part {
  width: 100%;
  margin: 10px auto;
 }
 .bigbannerslogan__right-part {
  display: none;
 }
}



/*---------------------  RECEPTION (Grey)  --------------------------*/
#reception {
 width: 100%; /* Серый блок сайта, в котором 2 окошка для входа и комнаты */
 /*height: 100px;*/ /* Статичная высота заголовка */
 min-height: 50px; /* Заголовок: либо мининум 100 пикселей - либо больше 100 с инфой*/
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 padding-bottom: 40px;
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #f7f7f7; /* Цвет заголовка почти белый */
}

	.reception__left-part {
	 width: 50%; /* Динамическая ширина блока для баннера, равная половине заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

		.reception__left-signin {
	  	 float: left;
	  	 width: 70%;
		 margin-top: 40px; /* Баннерная-картинка отступает от верха блока в котором она находится на 5px */
	 	 margin-left: 1.2345679%; /* 12px/972px = 1.2345679 Адаптивный отступ слева по сетке */
	 	 background: #ffffff;
	 	 padding: 10px;
	 	 border: 1px solid #e6e6e6;
	 	 /*background: #fa26fa;*/
		}


	.reception__right-part {
 	 width: 50%; /* Динамическая ширина блока для контактов в заговолке справа, равная половине заголовка */
	 float: right; /* Блок для контактов обтекает другие объекты своим правым краем (прижимается правым краем)*/
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

		.reception__right-room { /* Стиль шрифта и его выравнивание внутри блока с контактами в заголовке */
		 float: left;
	  	 width: 70%;
		 margin-top: 40px; /* Баннерная-картинка отступает от верха блока в котором она находится на 5px */
	 	 margin-left: 1.2345679%; /* 12px/972px = 1.2345679 Адаптивный отступ слева по сетке */
	 	 background: #ffffff;
	 	 padding: 10px;
	 	 border: 1px solid #e6e6e6;
	 	 /*background: #fa26fa;*/
		}


@media screen and (max-width: 639px) {
 .reception__left-part {
  width: 100%;
 }
 .reception__right-part {
  width: 100%;
 }
 .reception__left-signin {
   width: 90%;
 }
 .reception__right-room {
   width: 90%;
 }
}		



/*---------------------  HowTo (white) --------------------------*/
#howto {
 width: 100%; /* Черный заголовок занимает всю ширину браузера */
 min-height: 100px; /* Заголовок: либо мининум 100 пикселей - либо больше 100 с инфой*/
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #ffffff; /* Цвет заголовка почти белый */
}

	.howto__upper-part {
	 width: 100%;
	 margin: 0px auto; /* 0 - отступ от верхнего края браузера */
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

	.howto__lower-part {
	 width: 100%; /* Динамическая ширина блока для баннера, равная половине заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 margin-top: 20px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}



/*---------------------  HowTo (white) --------------------------*/
#about {
 width: 100%; /* Черный заголовок занимает всю ширину браузера */
 min-height: 100px; /* Заголовок: либо мининум 100 пикселей - либо больше 100 с инфой*/
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #f7f7f7; /* Цвет заголовка почти белый */
}

	.about__upper-part {
	 width: 100%;
	 margin: 0px auto; /* 0 - отступ от верхнего края браузера */
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

	.about__lower-part {
	 width: 100%; /* Динамическая ширина блока для баннера, равная половине заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 margin-top: 20px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}




/*---------------------  FOOTER --------------------------*/
#footer {
 width: 100%; /* Подвал тёмного цвета растянут на всю ширину браузера */
 /*height: 100px;*/ /* Статичная высота заголовка */
 min-height: 100px; /* Заголовок: либо мининум 100 пикселей - либо больше 100 с инфой*/
 margin: 0 auto; /* Заголовок прилегает вверху вплотную к браузеру, т.к. отступ = 0 pixel */
 overflow: hidden; /* Блок div растягивается по содержимому */
 background: #272b2e; /* Цвет заголовка почти белый */
 border-top: 3px solid #17dfd2;
}

	.footer__part1-links {
	 width: 30%; /* Динамическая ширина блока для баннера, равная половине заголовка */
	 float: left; /* Блок для баннера обтекает другие объекты своим левым краем (прижимается левым краем)*/
	 margin-top: 10px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

	.footer__part2-shortinfo {
 	 width: 40%; /* Динамическая ширина блока для контактов в заговолке справа, равная половине заголовка */
	 float: left; /* Блок для контактов обтекает другие объекты своим правым краем (прижимается правым краем)*/
	 margin-top: 10px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

	.footer__part3-copyright {
 	 width: 30%; /* Динамическая ширина блока для контактов в заговолке справа, равная половине заголовка */
	 float: right; /* Блок для контактов обтекает другие объекты своим правым краем (прижимается правым краем)*/
	 margin-top: 10px;
	 overflow: hidden; /* Блок div растягивается по содержимому */
	}

@media screen and (max-width: 380px) {
 .footer__part1-links {
  width: 100%;
 }
 .footer__part2-shortinfo {
  width: 100%;
 }
 .footer__part3-copyright {
  width: 100%;
 }
}